body {
    height: 100%;
    width: 100%;
    background: #f9f9f9;
    padding: 0;
    margin: 0;
}

.title_bar {
    width: 100vw;
    height: 20vh;
    background: #21468B;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow:: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
}

.title_bar_text {
    float: left;
    color: #ffffff;
    font-weight: 900;
    font-size: 8vh;
    bottom: 0;
    padding: 12px 20px 12px 5vw;
    position: absolute;
}


.login_container {
    background: #21468B;
    width: 40vw;
    height: 20vw;
    border-radius: 1vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow:: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    top: 30vh;
    left: 30vw;
}

.login_container_title {
    color: white;
    font-size: 5vw;
    padding: 2.5vw;
    text-align: center;
    font-weight: 900;
}

.login_container_button {
    text-align: center;
}

.card_create {
    width: 400px;
    height: 410px;
    border-radius: 5px;
    background: #21468B;
    padding: 10px;
    margin: 5vh auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow:: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card_create_title {
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
}

.card_create_text {
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
}

.card_create_text textarea {
    resize: none;
}

.card_submit {
    float: right;
    position: relative;
    right: 12px;
}

.card_create_type {
    padding: 8px 12px 8px 12px;
    color: rgba(255,255,255, 0.87);
    font-size: 16px;
}

.card_create label {
    color: rgba(255,255,255, 0.87);
}

.card_type_red {
    background: #AE1C28;
    height: 410px;
    width: 380px;
    border-radius: 5px;
    text-align: justify;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow:: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 20px;
    display: inline-block;
}

.card_type_green {
    background: #006600;
    height: 410px;
    width: 380px;
    border-radius: 5px;
    text-align: justify;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow:: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 20px;
    display: inline-block;
}

.card_title {
    font-weight: 900;
    font-size: 20px;
    color: rgba(255,255,255, 1);
    padding: 8px 12px;
}

.card_text {
    font-size: 15px;
    color: rgba(255,255,255, 0.87);
    padding: 8px 12px;
}

.card_date {
    padding: 0px 12px;
    text-align: right;
    color: rgba(255,255,255, 0.56);
}

.card_author {
    text-align: left;
    color: rgba(255,255,255, 0.56);
    padding: 0px 12px;
}

.card_email {
    text-align: left;
    color: rgba(255,255,255, 0.56);
    padding: 5px 12px;
}

.cards {
    margin: 0 auto;
    padding: 5vh 5vw;
    text-align: center;
}

.title_bar_logout {
    width: 10vw;
    height: 7vh;
    background: #FF4F00;
    color: #FFFFFF;
    font-size: 5vh;
    margin:20px;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    right: 20px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    cursor: hand;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow:: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.title_bar_button {
    width: 10vw;
    height: 7vh;
    background: #FF4F00;
    color: #FFFFFF;
    font-size: 5vh;
    margin:20px;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    right: 13vw;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    cursor: hand;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow:: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
