body {
    height: 100%;
    width: 100%;
    background: #f9f9f9;
    padding: 0;
    margin: 0;
}

.title_bar {
    width: 100vw;
    height: 20vh;
    background: #21468B;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow:: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
}

.title_bar_text {
    float: left;
    color: #ffffff;
    font-weight: 900;
    font-size: 8vh;
    bottom: 0;
    padding: 12px 20px 12px 5vw;
    position: absolute;
}


.login_container {
    background: #21468B;
    width: 40vw;
    height: 20vw;
    border-radius: 1vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow:: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    top: 30vh;
    left: 30vw;
}

.login_container_title {
    color: white;
    font-size: 5vw;
    padding: 2.5vw;
    text-align: center;
    font-weight: 900;
}

.login_container_button {
    text-align: center;
}

.abc {
    background: red;
    height: 300px;
    width: 300px;
}
